In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [3]:
df = pd.read_excel('Churn_Modelling.xlsx')

In [4]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [6]:
# Lets drop the unwwanted column.
df.drop(columns=['RowNumber','CustomerId','Surname'],inplace=True)

In [7]:
df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [8]:
from sklearn.preprocessing import LabelEncoder

In [9]:
le = LabelEncoder()
df['Geography'] = le.fit_transform(df['Geography'])

In [10]:
le2 = LabelEncoder()
df['Gender'] = le2.fit_transform(df['Gender'])

In [11]:
df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,0,0,42,2,0.00,1,1,1,101348.88,1
1,608,2,0,41,1,83807.86,1,0,1,112542.58,0
2,502,0,0,42,8,159660.80,3,1,0,113931.57,1
3,699,0,0,39,1,0.00,2,0,0,93826.63,0
4,850,2,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,0,1,39,5,0.00,2,1,0,96270.64,0
9996,516,0,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,0,0,36,7,0.00,1,0,1,42085.58,1
9998,772,1,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,0,0,28,4,130142.79,1,1,0,38190.78,0

In [12]:
# Separating the Data into X and Y.
x = df.iloc[:,:-1]
x

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,0,0,42,2,0.00,1,1,1,101348.88
1,608,2,0,41,1,83807.86,1,0,1,112542.58
2,502,0,0,42,8,159660.80,3,1,0,113931.57
3,699,0,0,39,1,0.00,2,0,0,93826.63
4,850,2,0,43,2,125510.82,1,1,1,79084.10
...,...,...,...,...,...,...,...,...,...,...
9995,771,0,1,39,5,0.00,2,1,0,96270.64
9996,516,0,1,35,10,57369.61,1,1,1,101699.77
9997,709,0,0,36,7,0.00,1,0,1,42085.58
9998,772,1,1,42,3,75075.31,2,1,0,92888.52
9999,792,0,0,28,4,130142.79,1,1,0,38190.78

In [13]:
y = df.iloc[:,-1]
y

0       1
1       0
2       1
3       0
4       0
       ..
9995    0
9996    0
9997    1
9998    1
9999    0
Name: Exited, Length: 10000, dtype: int64

In [14]:
# Will performing deep learning model will always perform Scaling 
from sklearn.preprocessing import StandardScaler

# Create object of the class
sc = StandardScaler()

# Scaling the X Variavle which include Input Features 
# Remember we dont scale the output Variable
x = sc.fit_transform(x)

In [15]:
x

array([[-0.32622142, -0.90188624, -1.09598752, ...,  0.64609167,
         0.97024255,  0.02188649],
       [-0.44003595,  1.51506738, -1.09598752, ..., -1.54776799,
         0.97024255,  0.21653375],
       [-1.53679418, -0.90188624, -1.09598752, ...,  0.64609167,
        -1.03067011,  0.2406869 ],
       ...,
       [ 0.60498839, -0.90188624, -1.09598752, ..., -1.54776799,
         0.97024255, -1.00864308],
       [ 1.25683526,  0.30659057,  0.91241915, ...,  0.64609167,
        -1.03067011, -0.12523071],
       [ 1.46377078, -0.90188624, -1.09598752, ...,  0.64609167,
        -1.03067011, -1.07636976]])

In [16]:
y = df['Exited'].values
y

array([1, 0, 1, ..., 1, 1, 0], dtype=int64)

In [17]:
from sklearn.model_selection import train_test_split

xtrain, xtest, ytrain, ytest = train_test_split(x,y,test_size = 0.30, random_state = 1)

In [18]:
# from here we start building Neural Network

import tensorflow as tf
from tensorflow.keras import Sequential # it is Used to build NN
from tensorflow.keras.layers import Dense # it is used to add layers
from sklearn.metrics import classification_report # Evaluation

In [19]:
# Building Neural Network

# Step 1 : initiate a model

ann = Sequential()

# Step 2: Add Layers to model 

ann.add(Dense(units = 12,activation = 'relu')) # Hidden Layers
ann.add(Dense(units = 1, activation = 'sigmoid')) # Output Layer

# step 3: Establishing connection with layers
ann.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

# step 4: fit the model
ann.fit(xtrain,ytrain,epochs = 100, batch_size = 32)

# Step 5: make predictions
ypred = ann.predict(xtest)

Epoch 1/100
219/219 [==============================] - 1s 1ms/step - loss: 0.6412 - accuracy: 0.6330
Epoch 2/100
219/219 [==============================] - 0s 1ms/step - loss: 0.4870 - accuracy: 0.8030
Epoch 3/100
219/219 [==============================] - 0s 1ms/step - loss: 0.4433 - accuracy: 0.8119
Epoch 4/100
219/219 [==============================] - 0s 1ms/step - loss: 0.4251 - accuracy: 0.8189
Epoch 5/100
219/219 [==============================] - 0s 1ms/step - loss: 0.4138 - accuracy: 0.8237
Epoch 6/100
219/219 [==============================] - 0s 1ms/step - loss: 0.4044 - accuracy: 0.8293
Epoch 7/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3954 - accuracy: 0.8364
Epoch 8/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3869 - accuracy: 0.8391
Epoch 9/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3798 - accuracy: 0.8429
Epoch 10/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3734 - accuracy: 0.8451
Epoch 11/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3678 - accuracy: 0.8473
Epoch 12/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3631 - accuracy: 0.8499
Epoch 13/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3591 - accuracy: 0.8523
Epoch 14/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3560 - accuracy: 0.8540
Epoch 15/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3539 - accuracy: 0.8547
Epoch 16/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3522 - accuracy: 0.8534
Epoch 17/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3503 - accuracy: 0.8566
Epoch 18/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3491 - accuracy: 0.8549
Epoch 19/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3480 - accuracy: 0.8554
Epoch 20/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3477 - accuracy: 0.8564
Epoch 21/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3465 - accuracy: 0.8573
Epoch 22/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3458 - accuracy: 0.8579
Epoch 23/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3453 - accuracy: 0.8580
Epoch 24/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3447 - accuracy: 0.8583
Epoch 25/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3442 - accuracy: 0.8599
Epoch 26/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3437 - accuracy: 0.8577
Epoch 27/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3434 - accuracy: 0.8581
Epoch 28/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3429 - accuracy: 0.8593
Epoch 29/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3425 - accuracy: 0.8583
Epoch 30/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3421 - accuracy: 0.8603
Epoch 31/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3419 - accuracy: 0.8597
Epoch 32/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3415 - accuracy: 0.8591
Epoch 33/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3410 - accuracy: 0.8604
Epoch 34/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3409 - accuracy: 0.8610
Epoch 35/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3404 - accuracy: 0.8609
Epoch 36/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3401 - accuracy: 0.8597
Epoch 37/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3398 - accuracy: 0.8619
Epoch 38/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3395 - accuracy: 0.8616
Epoch 39/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3392 - accuracy: 0.8596
Epoch 40/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3391 - accuracy: 0.8614
Epoch 41/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3393 - accuracy: 0.8603
Epoch 42/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3387 - accuracy: 0.8616
Epoch 43/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3381 - accuracy: 0.8616
Epoch 44/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3384 - accuracy: 0.8617
Epoch 45/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3382 - accuracy: 0.8604
Epoch 46/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3378 - accuracy: 0.8611
Epoch 47/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3380 - accuracy: 0.8593
Epoch 48/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3378 - accuracy: 0.8627
Epoch 49/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3375 - accuracy: 0.8617
Epoch 50/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3375 - accuracy: 0.8634
Epoch 51/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3371 - accuracy: 0.8620
Epoch 52/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3372 - accuracy: 0.8607
Epoch 53/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3371 - accuracy: 0.8623
Epoch 54/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3368 - accuracy: 0.8626
Epoch 55/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3366 - accuracy: 0.8617
Epoch 56/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3365 - accuracy: 0.8631
Epoch 57/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3364 - accuracy: 0.8630
Epoch 58/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3365 - accuracy: 0.8614
Epoch 59/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3362 - accuracy: 0.8616
Epoch 60/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3358 - accuracy: 0.8629
Epoch 61/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3357 - accuracy: 0.8616
Epoch 62/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3357 - accuracy: 0.8617
Epoch 63/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3357 - accuracy: 0.8623
Epoch 64/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3352 - accuracy: 0.8630
Epoch 65/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3353 - accuracy: 0.8629
Epoch 66/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3351 - accuracy: 0.8623
Epoch 67/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3349 - accuracy: 0.8627
Epoch 68/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3346 - accuracy: 0.8626
Epoch 69/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3345 - accuracy: 0.8626
Epoch 70/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3346 - accuracy: 0.8626
Epoch 71/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3344 - accuracy: 0.8616
Epoch 72/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3344 - accuracy: 0.8614
Epoch 73/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3341 - accuracy: 0.8631
Epoch 74/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3338 - accuracy: 0.8617
Epoch 75/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3337 - accuracy: 0.8633
Epoch 76/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3336 - accuracy: 0.8634
Epoch 77/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3334 - accuracy: 0.8621
Epoch 78/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3335 - accuracy: 0.8620
Epoch 79/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3333 - accuracy: 0.8636
Epoch 80/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3333 - accuracy: 0.8631
Epoch 81/100

219/219 [==============================] - 0s 1ms/step - loss: 0.3332 - accuracy: 0.8634
Epoch 82/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3330 - accuracy: 0.8634
Epoch 83/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3330 - accuracy: 0.8633
Epoch 84/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3328 - accuracy: 0.8630
Epoch 85/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3325 - accuracy: 0.8631
Epoch 86/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3324 - accuracy: 0.8636
Epoch 87/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3323 - accuracy: 0.8643
Epoch 88/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3324 - accuracy: 0.8623
Epoch 89/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3322 - accuracy: 0.8636
Epoch 90/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3321 - accuracy: 0.8643
Epoch 91/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3318 - accuracy: 0.8640
Epoch 92/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3319 - accuracy: 0.8639
Epoch 93/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3317 - accuracy: 0.8649
Epoch 94/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3316 - accuracy: 0.8643
Epoch 95/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3316 - accuracy: 0.8627
Epoch 96/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3315 - accuracy: 0.8639
Epoch 97/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3314 - accuracy: 0.8630
Epoch 98/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3313 - accuracy: 0.8629
Epoch 99/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3311 - accuracy: 0.8641
Epoch 100/100
219/219 [==============================] - 0s 1ms/step - loss: 0.3311 - accuracy: 0.8637
94/94 [==============================] - 0s 968us/step

In [20]:
ypred

array([[0.0455858 ],
       [0.05752124],
       [0.05585487],
       ...,
       [0.02945778],
       [0.09925408],
       [0.06920675]], dtype=float32)

In [21]:
# step 6: Set the Threshold Value 

ypred = np.where(ypred>0.5,1,0)
ypred

array([[0],
       [0],
       [0],
       ...,
       [0],
       [0],
       [0]])

In [23]:
print(classification_report(ytest,ypred))

              precision    recall  f1-score   support

           0       0.87      0.97      0.92      2373
           1       0.79      0.46      0.58       627

    accuracy                           0.86      3000
   macro avg       0.83      0.71      0.75      3000
weighted avg       0.85      0.86      0.85      3000